<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dotstart.mybatisflex.mapper.ComplaintMapper">
    <resultMap id="BaseResultMap" type="org.example.dotstart.mybatisflex.entity.ComplaintEntity">
        <id column="complaint_id" jdbcType="BIGINT" property="complaintId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="tel_num" jdbcType="VARCHAR" property="telNum"/>
        <result column="target_user_id" jdbcType="BIGINT" property="targetUserId"/>
        <result column="target_name" jdbcType="VARCHAR" property="targetName"/>
        <result column="reason" jdbcType="CLOB" property="reason"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>
        <result column="handle_result" jdbcType="VARCHAR" property="handleResult"/>
        <result column="handle_content" jdbcType="CLOB" property="handleContent"/>
        <result column="handler" jdbcType="BIGINT" property="handler"/>
        <result column="handler_tel" jdbcType="VARCHAR" property="handlerTel"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updater" jdbcType="VARCHAR" property="updater"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="complaint_code" jdbcType="VARCHAR" property="complaintCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        `complaint_id`, `user_id`, `user_name`, `type`, `tel_num`, `target_user_id`, `target_name`, `reason`, `file_id`, `handle_result`, `handle_content`, `handler`, `handler_tel`, `create_time`, `creator`, `updater`, `update_time`, `deleted`, `complaint_code`
    </sql>

</mapper>